[Unit]
Description=Ssrapid Desktop Service helps to launch Ssrapid.
After=network-online.target nftables.service iptables.service

[Service]
Type=simple
ExecStart={}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target